#root {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.block-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.action-card {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.socials-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  font-size: 5rem;
  align-items: stretch;
  padding-top: 2rem;
}

.act-as-button {
  color: rgba(0, 0, 0, 0.8);
}

.act-as-button:hover {
  opacity: 1;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.9);
}
